@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* UNIVERSAL FONTS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

p, a {
    font-size: 0.75em;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */

.main-container {
    max-width: 34rem;
    display: flex;
    box-shadow: 9px 7px 40px 7px #EBF1FF;
    border-radius: 15px;
}

.preview-container {
    background: rgb(120,87,255);
    background: linear-gradient(180deg, rgba(120,87,255,1) 15%, rgba(46,43,233,1) 70%);
    color: hsl(0, 0%, 100%);
    width: 45%;
    border-radius: 15px;
}

.container {
    margin: 1em 2em;
}

.stats-container {
    width: 55%;
}

/* CONTENT STYLING */

.result {
    text-align: center;
    /* font-size: 16px; */
    color: hsl(241, 100%, 89%)
}

.circle {
    display: flex;
    justify-content: center;
}

.circle {
    text-align: center;
    padding: 1.5em 0;
    border-radius: 100px;
    background: rgb(78,33,202);
    background: linear-gradient(180deg, rgba(78, 33, 202, 0.76) 15%, rgba(36, 33, 202, 0.76) 70%);
    margin: 1.3em 0;
}

.circle h1 {
    font-weight: 800;
    font-size: 50px;
}

.circle p {
    color: hsla(241, 100%, 89%, 0.76);
    /* font-size: .7em; */
}

.info {
    text-align: center;
    margin-bottom: 35px;
}

.info h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.info p {
    /* font-size: .7em; */
    color: hsla(241, 100%, 89%, 0.76);
}

/* STATS STYLING */

.ratings {
    margin: 1.2em 0;
}

.rate {
    display: flex;
    justify-content: space-evenly;
    margin: 0.6em 0;
    padding: 0.6em 0.8em;
    border-radius: 10px;
}

.rate span {
    font-weight: bold;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsla(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}



.button {
    display: flex;
}

.button a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    padding: 0.85em 0.8em;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.button a:hover {
    background: rgb(78,33,202);
    background: linear-gradient(180deg, rgba(78, 33, 202, 0.76) 15%, rgba(36, 33, 202, 0.76) 70%);
}

/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
    #main {
        display: block;
    }

    .main-container {
    display: block;
    width: 100%;
    }

    .preview-container, .stats-container {
        width: 100%;
    }
}


/* ATTRIBUTION */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}